.button {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  background: white;
  padding: 0.2rem 0.8rem;
}

.open {
  border: 1px solid black;
}

.openIcon {
  width: 0.5rem;
  margin-left: 0.4rem;
  padding: 0;
}

.close {
  border: none;
}

.closeIcon {
  width: 2rem;
  padding: 0;
}

.cancel {
  border: none;
  background-color: red;
  color: white;
}

.submit {
  border: none;
  background-color: green;
  color: white;
}
